[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {version = "*", extras = ["all"]}
uvicorn = {version = "*", extras = ["standard"]}
pydantic = "*"
pymongo = "*"
python-jose = "*"
passlib = "*"
requests = "*"
mongo = "*"
pydantic-mongo = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.12"
