@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
}

body {
  height: 100%;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
